/backend/web/assets
/backend/runtime
/backend/tests

/frontend/web/assets
/frontend/runtime
/frontend/tests

/console/runtime
/console/tests

.idea/*
/files
/cache
/images

/vendor
*.bat
*.phar
init
requirements.php
yii

